{
  "server": {
    "port": 3001,
    "projectRoot": "..",
    "stateDir": ".state",
    "backendAddons": ["ai", "browser", "auth"],
    "env": {},
    "host": {
      "pathPrefix": "/",
      "staticDir": "dist",
      "apiPrefix": "/api",
      "runAsMaster": false
    }
  },
  "apps": []
}
